// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

a {
    text-decoration: none !important;
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

.fade-in-up-leave-to {
    opacity: 0;
    /*transition: opacity 0.3s;*/
}

.fade-in-up-enter {
    opacity: 0;
    transform: translate3d(0, 10px, 0);
}

.fade-in-up-enter-to {
    opacity: 0;
    animation-duration: 0.7s;
    animation-fill-mode: both;
    animation-name: fadeInUp;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
